<ion-view view-title="">
  <ion-content>
<div class="product-card">
  <div class="list">
       <div class="item item-image">    
          <img src="img/views/header/cbm.jpg">
            <div class="text-on-image card-title-shadow">
              <h2 >College <br>of <br>Business<br>Management</h2>
              <h3></h3>
            </div> 
        </div>
            <div class="fab-zone">
              <img class="college-details-header-logo" src="img/views/logo/cbm_logo.png"></b <img class="sidemenu-header-logo" src="img/cmu_trans.png">
            </div>
   </div>
     <div class="list">
      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         College Overview
      </div>
        <span class="location">
           <p class="location">The offering of the four-year Bachelor of Science in Accountancy (BS Accy) and the Bachelor of Science in Commerce (BSC) Programs of Central Mindanao University was approved by the CMU Board of Regents on February 11, 2005. The two programs were offered starting SY 2005-2006 and the implementation of which was temporarily attached to the College of Agriculture for Administrative expediency. There were ninety-nine (99) enrolees accepted comprising the first batch of our more than 300 students who wanted to enrol in the BS Accountancy/ BS Commerce program.</p>

           <p class="location">On January 12, 2007, the College of Commerce and Accountancy was formally created as a separate unit to implement the two programs by the virtue of the Memorandum issued by the then University President, late Dr. Mardonio M. Lao, to this effect that designated Prof. Felipe E. Opiso, a Master of Management degree holder from the UP Los Baños and a Certified Public Accountant (CPA), as the first dean of the College. Prof Opiso obtained his BSBA degree major in Accounting from the University of the East (UE), Manila, and his Master in Management major in Agribusiness Management from the UPLB, Laguna.</p>

           <p class="location">The newly created college was made to occupy the old engineering building which continues to occupy up to the present. The building had undergone major repairs last year to create additional classrooms and staff officers to enhance its teaching-learning environment.</p>
        </span>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         College Goals
      </div>
       <span>
          <p> 
          </p>
        </span>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         College Objectives
      </div>
        <span>
          <p></p>
        </span>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         Courses Offered
      </div>
       <div class="list">
          <p class="item">
            Bachelor of Science in Accountancy
          </p>
          <p class="item" style="white-space: normal;">
            Bachelor of Science in Accounting and Information System
          </p>
          <p class="item">
            Bachelor of Science in Internal Auditing
          </p>
          <p class="item" style="white-space:normal;">
            Bachelor of Science in Management Accounting
          </p>
          <p class="item">
            Bachelor of Science in Office Administration
          </p>
          <p class="item">
            Bachelor of Science in Business Administration
          </p>
        </div>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         Directory
      </div> 
      <span></span>
  </div>
</div>
  </ion-content>
</ion-view>
 

 