<ion-view view-title="">

  <ion-content>
<div class="product-card">
<div class="list">
     <div class="item item-image">    
        <img src="img/views/header/coe.jpg">
          <div class="text-on-image card-title-shadow">
             <h2 >College <br>of <br>Engineering<br>Main Building</h2>
            <h3></h3>
          </div> 
      </div>
          <div class="fab-zone">
            <img class="college-details-header-logo" src="img/views/logo/coe_logo.png"></b <img class="sidemenu-header-logo" src="img/cmu_trans.png">
          </div>
</div>

   <div class="list">
    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Overview
    </div> 
      <span class="location">
       <p class="location">The College of Engineering is an outgrowth of an agricultural engineering department, formerly of the Mindanao Agricultural College (MAC). It was on July 17, 1959 that the Board of Trustees of MAC approved the offering of a five-year course leading to the degree of Bachelor of Science in Agricultural Engineering (BSAE). Due to the significant increase in enrolment, the department was converted into a college by virtue of a Board Resolution No. 2 series of 1965 as approved by the Board of Regents of Central Mindanao University.</p>

       <p class="location">From  that time until 1970, the college has a single curricular offering which is the five-year curriculum leading the degree of Bachelor of Science in Agricultural Engineering > However in June 1970, a course lading to the degree of Bachelor  of Science in Civil Engineering was offered. The College was then composed of the two courses BSAE and BSCE.</p>

       <p class="location">In 1975, two more departments were created: the department of Mechanical Engineering and Electrical Engineering. These two new departments served only as service departments that took care of the mechanical engineering and electrical engineering courses of AE and CE degree programs. In June 1984, the Bachelor of Science in Mechanical Engineering (BSME) and Bachelor of Science in Electrical Engineering (BSEE) were offered. In 2005, the Institute of Computer Application was created offering Bachelor of Science in Information Technology.</p>

      <p class="location">At present, the college is composed of five degree-awarding departments: the AE department, CE department, ME department, EE department and IT department.<p/>

       <p class="location">The College of Engineering also houses the CMU Computer Center that serves the computer laboratory classes of all the computer courses offered by the various colleges of the University. Moreover, the Computer Center also has been offering computer literacy training to CMU students, faculty members and administrative staff.</p>
      </span>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Objectives
    </div>
    <span class="location">
         <p class="location">
         The College of Engineering envisions to become a Center of Excellence in Sustainable Engineering and Agro-Industrial Technology Education in Mindanao. The college has the following goals:</p>

         <p class="location">The provision of excellent baccalaureate and post-baccalaureate engineering degree and non-degree programs and related fields;</p>
 <p class="location">The generation of new knowledge and technologies by conducting basic and applied agro-industrial researches; and</p>
 <p class="location">The development, evaluation, packaging and dissemination of mature engineering technologies and information systems in order to accelerate agro-industrial development in Mindanao in particular and the Philippines in general.</p>
         </p>
     </span>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Goals
    </div>
      <span class="location">
         <p class="location">As a Center of Excellence in Agriculture Education, the CMU-CA has the following goals to achieve: Excellent and relevant instruction in the undergraduate degree programs; Quality and relevant researches for sustainable agricultural development; Promotion of appropriate technology for improved quality of life; and Development of highly trained human resources for agricultural entrepreneurship.</p>
      
      </span>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       Courses Offered
    </div>
     <div class="list">
        <p class="item" style="white-space: normal;">
          Bachelor of Science in Agricultural and Biosystems Engineering
        </p>
        <p class="item" style="white-space: normal;">
          Bachelor of Science in Civil Engineering
        </p>
        <p class="item" style="white-space: normal;">
          Bachelor of Science in Electrical Engineering
        </p>
         <p class="item" style="white-space: normal;">
          Bachelor of Science in Mechanical Engineering
        </p>
         <p class="item" style="white-space: normal;">
          Bachelor of Science in Information Technology
        </p>
      </div>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       Directory
    </div>
    <span></span>
</div>

  </ion-content>
</ion-view>
 

 