<ion-view view-title="">
  <ion-content>
<div class="product-card">
  <div class="list">
       <div class="item item-image">    
          <img src="img/views/header/coed.jpg">
            <div class="text-on-image card-title-shadow">
               <h2 >College <br>of <br>Education<br>Main Building</h2>
              <h3></h3>
            </div> 
        </div>
            <div class="fab-zone">
              <img class="college-details-header-logo" src="img/views/logo/coed_logo.png"></b <img class="sidemenu-header-logo" src="img/cmu_trans.png">
            </div>
  </div>

     <div class="list">
      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         College Overview
      </div>
        <span class="location">
          <p class="location">June 19, 1965- RA 4498 converted Mindanao Agricultural College to Central Mindanao University BOR No. 2, s. 1965 converted the Department of Agricultural Education to College of Education.

           <p class="location">In 1970, the CMU BOR approved the course offerings, Bachelor of Science in Education major English, Mathematics and Physics, and of the Agricultural Education offering in the College of Education. The BSA-AgEd course offering is at present at the College of Agriculture.</p>

           <p class="location">In 1972, the integration of the Public Elementary School at Musuan into the University. This gave birth to the CMU Elementary Laboratory School.</p>

           <p class="location">In 1975, the Board of Regents approved the initial absorption of the Bureau of Public School Teachers into the University Plantilla. Total integration then followed. In 1977, the approval of two new curricular offerings namely: Bachelor of Science in Business Education (BSBE) and Certificate of Secretarial Science. In 1982, the offering of the one-year clerical course was approved and in June 1987, the CMU Elementary Laboratory High School was turned over to the Department of Education, Culture and Sports (DECS), now known as Musuan Elementary School.</p>

           <p class="location">In 1989 BOR resolution no. 95, s. 1989 approved the implementation of the Certificate of Teaching, a one-year program for non-education graduates who desire to teach. CT (elementary option) has been phased out. In 1993, BOR resolution no. 66, s. 1993 approved the resumption of the general Secondary Academic Curriculum and in 1996 the two-year Secretarial Science course was phase out. In 1997 to 1998 the implementation of the BSE degree major in Physical Education was realized.</p>

           <p class="location">In 2002, BSOA curriculum was approved by the University Academic Council and in 2003, the curriculum was approved for implementation by virtue of the BOR resolution no. 11, s. 2003 dated march 17, 2003.</p>

           <p class="location">In 2009, the department of Business Education was transferred to the College of Commerce and Accountancy.</p>

           <p class="location">Presently, the College of Education as a Teacher Education Institution is composed of three departments namely the Departments of Professional Education, Physical Education and the University Laboratory High School with the deanship of Dr. Raul C. Orongan.</p>
        </span>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         College Mission
      </div>
      <span class="location">
         <p class="location">The College is committed to pursue excellence in instruction, research, community service and production in:</p>

         <p class="location">Teacher education and educational management, that are development oriented; and</p>
         <p class="location">Physical education, physical fitness and sports.</p>
       </span>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         College Goals
      </div>
        <span class="location">
           <p class="location">To produce teachers who can effectively carry out programs and generate effective services in the secondary and tertiary levels and who are imbued with basic attitudes, knowledge and skills essential for personal and social fulfillment, as well as attainment of national goals;</p>
           <p class="location">To provide professional training in teaching in the secondary and tertiary levels to non-education baccalaureate degree graduates;</p>
           <p class="location">To provide training to graduate students who aim to develop professional competence in their field of specialization through advanced studies and research;</p>
           <p class="location">To upgrade the competencies of teachers and para-professionals through in-service trainings;</p>
           <p class="location">To produce teachers equipped with educational theories and practices needed for educational researches; and</p>
           <p class="location">To provide students basic skills in gymnastics, dance sports, health and physical fitness.</p>
        
        </span>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         Courses Offered
      </div>
       <div class="list">
          <p class="item" style="white-space: normal;">
            Bachelor of Science in Education
            <br>Major in: English, Filipino, Mathematics and Sciences
          </p>
          <p class="item" style="white-space: normal;">
            Bachelor of Physical Education
          </p>
        </div>

      <div class="item item-divider">
         <i class="icon ion-compose" ></i>
         Directory
      </div>
      <span></span>    
</div>
  </ion-content>
</ion-view>
 

 
