<ion-view view-title="">
  <ion-content>
<div class="product-card">
<div class="list">
     <div class="item item-image">    
        <img src="img/views/header/conursing.jpg">
          <div class="text-on-image card-title-shadow">
              <h2 >College <br>of <br>Nursing<br>Main Building</h2>
            <h3></h3>
          </div> 
      </div>
          <div class="fab-zone">
            <img class="college-details-header-logo" src="img/views/logo/con_logo.png"></b <img class="sidemenu-header-logo" src="img/cmu_trans.png">
          </div>
</div>

   <div class="list">
    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Overview
    </div>
      <span class="location">
       <p>The CMU College of Nursing was offered on June 2005 through the efforts of Dr. Emmanuel Lariosa, VPAA, Dr. Nerissa A. Macarayan, Dean, College of Home Economics, Dr. Nalauin G. Esdrelon, Resident Physician of the University Hospital, Dr. Nenita I. Prado, Dean, Graduate School and Prof. Lucy B. Ledres, Curriculum Committee Chairman with the support of the University President, late Dr. Mardonio M. Lao. It was given shelter at the College of Home Economics with Dr. Nerissa A. Macarayan as the Dean. MS. Melanie L. Pahuyo, RN was the first clinical Instructor in the college with 52 first year students enrolled.

      <p>On April 2006, Prof. Virginia M. Gimena, RN, MAN was hired as the new Dean in the College of Nursing. In June 2006, Ms. Vernice C. Engbino, RN was hired to meet the demand of Related Learning Experience ratio of faculty and students. The number of second year students decreased to 49 but the year students reached up to 104.</p>

      <p>On October 2006, Prof. Virginia M. Gemina, RN, MAN left her office and Prof. Risa V. Barrita, RN, MAN took over stating November 2006. Another clinical instructor was hired, Prof. Fidelito S. Acojedo, RN, MN to meet the minimum requirements of CHED for accreditation.v

      <p>On its third year level, the college is manned by seven clinical instructors. Five of whom are newly hired on June 2007.</p>

      <p>The College of Nursing became independent on August 2007 when they transferred to a temporary building in front of the University Hospital. A beautiful Building was built with all the needed facilities on September 17, 2007. Technical Committee for Nursing Education represented by Dr. Marilyn D. Yap and CHEDCO staff Rosario D. Castano evaluated the college, recommended some documents for compliance and the Nursing Arts Room has passed their evaluation. On May 2009, Prof. Risa V. Barrita resigned as Dean. Back to the hands of Dr. Nerissa A. Macarayan who became the Officer-in-Charge of the College.</p>

      <p>On July 2009, the College got a New Officer-In-Charge, Prof. Ellen Gay S. Intong, RN, MN, MAN and at present, it has 14 faculty members doing their best working towards realization of their vision, mission, goals and objectives. The College is the youngest among the units in the University but it promises a very bright future for its students and graduates.</p>
      </span>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Vision
    </div>
    <span class="location">
      <p>Aside from helping the University in realizing its vision to be an academic paradise of higher learning actively committed to the total development of people for a globally sustainable environment and a humane society, the College is specifically projecting to be the center of nursing excellence in teaching, leading and caring.</p>
     </span>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Mission
    </div>
      <span>
        <p>The mission of the College of Nursing is to: Facilitate the health of the community through excellence and innovation in nursing education, leadership, practice and research.</p>
      
      </span>

      <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Goals
    </div>
      <span class="location">
        <p>The College of Nursing has four goals that are directed towards providing quality education for the students, total development of the faculty, and effective delivery of health care services to the community. The goals are as follows:</p>

        <p>Provide high quality nursing program</p>
        <p>Provide culturally diverse opportunities for students and faculty</p>
        <p>Engage in faculty and/or student research and scholarly activities that improve health and advance nursing knowledge</p>
        <p>Deliver innovative health care in partnership with communities</p>
      
      </span>

     <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Objectives
    </div>
      <span class="location">
        <p>To clearly and distinctively facilitate the realization of the vision, mission, and goals of the college, it created nine (9) objectives to achieve the abovementioned undertakings. The College of Nursing has its specific objectives for each year level but in general the college’s objectives are as follows:

<br><br>- Prepare graduates for the practice of professional nursing in general and specialized clinical settings.
<br><br>- Acknowledge diversity of values and ethics, culture, and ethnicity of all people.
<br><br>- Practice legal, ethico-moral, social responsibilities and accountabilities.
<br><br>- Encourage the advancement of nursing science by creating milieu that fosters information literacy, lifelong learning, and scholarly endeavors.
<br><br>- Support the improvement of health from the local to global arena through discovery, learning, and engagement.
<br><br>- Conduct research and other scholarly activities to add to the body of specialized knowledge and theory in nursing education activities.
<br><br>- Contribute to the improvement of nursing education through innovation, and participation in local to global nursing education activities.
<br><br>- Promote positive societal view of professional nursing by increasing public awareness of nursing’s contribution to health care.
<br><br>- Advocate for the improvement of the health care delivery system through changes in public policy with regard to accessibility, effectiveness, and quality of health care.</p>
      
      </span>
    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       Courses Offered
    </div>
     <div class="list">
        <p class="item" style="white-space: normal;">
          Bachelor of Science in Nursing
        </p>
      </div>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       Directory
    </div>
    <span></span>
  </div>
  </ion-content>
</ion-view>
 



