<ion-view view-title="">
  <ion-content> 
<div class="product-card">
<div class="list">
     <div class="item item-image">    
        <img src="img/views/header/cvm.jpg">
          <div class="text-on-image card-title-shadow">
               <h2 >College <br>of <br>Veterinary<br>Medicine</h2>
            <h3></h3>
          </div> 
      </div>
          <div class="fab-zone">
            <img class="college-details-header-logo" src="img/views/logo/cvm_logo.png"></b <img class="sidemenu-header-logo" src="img/cmu_trans.png">
          </div>
</div>

   <div class="list">
    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Overview
    </div>
      <span class="location">
        <p class="location">The College of Veterinary Medicine opened its door to students in June 1975 during the incumbency of Dr. Isabelo S. Alcordo, as CMU President and Dr. Banci as the first dean. Looking back, the temporary abode of the college was at the rear wing of the College of Agriculture Cluster Building which presently houses the Department of Animal Science and Horticulture. In 1985, the college transferred to its permanent home, a two storey building, through the initiative of the former Dean, the late Dr. Perfecto P. Hebron.</p>

 <p class="location">The former Deans were Dr. Banci (1975-1980), Dr. Wilfredo E. Tamin (1981-1982), Dr. Peter R. Orbase (OIC 1983-1984; 1994), Dr. Perfecto P. Hebron (1985-1986), Dr. Medino A. Yebron (1987-1993), Dr. Luzviminda T. Simborio (1995-1999), Dr. Jose Alexander Abella (2000-up to present). As before, the college has three departments namely: Veterinary Anatomy, Pharmacology and Physiology chaired by Dr. Jose A. Escarlos, Jr., Department of Veterinary Microbiology, Parasitology, Pathology and Public Health chaired by Dr. Roy. Villorejo, and Department of Veterinary Medicine, Surgery and Zootechnics chaired by Dr. Peter R. Orbase. These three departments are considered the “life” of the whole colleges in terms of pursuing its mandate.</p>

 <p class="location">In 1993, the Animal Disease Diagnostic Laboratory building was completed as the government counterpart to the Philippine-Belgium Veterinary Project (PBVP) which was initiated by Dr. Medino A. Yebron in his incumbency as dean of the college. This project officially terminated in December 1998. In 1998, the Veterinary Teaching Hospital was completed and was made functional. Presently, the VTH, together with the ADDL Trust Fund at the Cashier’s Office. This fund helps finance some of the college’s needs for reagents, culture media, antigens’ and even some office supplies.</p>

 <p class="location">For the last 5 consecutive years (1999-2004) the Professional Regulation Commission (PRC) ranked the college second in the country as best school in Veterinary Education in terms of veterinarian licensure examination performance as well as last 2009. The college has been identified as the zonal veterinary school in Mindanao and a permanent member of the Association of ASEAN Veterinary Schools (AVVS). Last August 2008 it is considered as the Center of Excellence in Veterinary Medicine in Mindanao.</p>

 <p class="location">The College has produced five Cum laude graduates: Alan Dargantes, 1993 (3rd Placer), Everlita Pangilinan, 1995 1995, Jay Jerome Mendoza, 1997 (5th Placer), Nacorda (2001), Audry Rose Gabonada, 2009 (4th Placer).</p>

 <p class="location">The College continues to expand and develop from its humble beginnings to what it is today – serving as the premiere institution of higher learning in veterinary medicine I this part of Mindanao.</p>
      </span>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Vision
    </div>
    <span class="location">
       <p class="location">The vision of the Central Mindanao University College of Veterinary Medicine is to become the Center of Excellence in Veterinary Education in Mindanao</p>
     </span>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       College Mission
    </div>
      <span>
        <p class="location">CMU-CVM undertakes to produce graduates who are competent in the practice of general veterinary medicine such as food animal practice (ruminants, swine and poultry) companion animals (equine, canine and feline, etc.), veterinary public health and animal welfare. It inculcates in its graduates social consciousness, professional ethics and a sense of responsibility to work towards national goal and development</p>
      
      </span>

      </span>
    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       Courses Offered
    </div>
     <div class="list">
        <p class="item" style="white-space: normal;">
          Doctor of Veterinary Medicine
        </p>
      </div>

    <div class="item item-divider">
       <i class="icon ion-compose" ></i>
       Directory
    </div>
    <span></span>

</div>
  </ion-content>
</ion-view>
 
 

 



