<ion-view class="profile-view">
  <ion-nav-title>
    <span>About</span>
  </ion-nav-title>
  <ion-content>
  <div class="product-card"> 
   <div class="item item-body">
	     <div class="row">
	        <div class="col"></div>
	          <img padding-left="200px" src="img/app_logo.jpg">
	            <div class="col"></div>
	        </div>
 			<p>The Central Mindanao University Interactive Campus Map is a cross platform application intended
 				to give the visitors and prospective students information and wayfinding inside the campus Central Mindanao University.
			</p>	      
				           
   		</div>
	   		 <div class="item item-thumbnail-left">
				   <img src="img/bit.jpg">
				   <h2>Developed by</h2>
			      		<p> Cliff Amadeus F. Evangelio</p>
			      		<p> BSIT 4</p>
			 </div>
			 <div class="item item-thumbnail-left">
				   <img src="img/cmu_logo1.png">
				   <h2>Advisory Committee</h2>
			      		<p style="white-space: normal;">Romer Ian O. Pasoc - Capstone Project Adviser</p>
			      		<p>Nathalie Joy. P Galia - Panel Member</p>
			      		<p>John D. Tajones - Panel Member</p>
			      		<h2>Contributors</h2>
			     		<p style="white-space: normal;">Public Relations and Information Office</p>
			     		<p>The Central Post</p>
			 </div>
		</div>
	</div>
  </ion-content>
</ion-view>
