<ion-view view-title="CMU-SHS">
<!-- <ion-nav-buttons side="right">
     <button ui-sref="app.map-main" class="button button-icon icon ion-android-home"></button>
-->
  </ion-nav-buttons> 
  <ion-content>
     <div class="list">
        <ion-slide-box show-pager="true">
          <ion-slide ng-repeat="i in [1,2,3,4,5]">
                  <div class="item item-image">
                    <img ng-src="img/preview/cas/{{i}}.jpg">
                  </div>
                

          </ion-slide>
        </ion-slide-box>
        <!--
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>-->
          <!--<div class="fab-zone">
          <button class="fab">Logo</button>
          </div>-->
    </div>
    <div class="button-bar">
    </div>
  </ion-content>
</ion-view>
 
